/* กล่องหลัก */
#myBox {
 width: 400px;
 height: 150px;
 background: orange;
 margin-top: 10px;
 overflow: auto; /* ทำให้เลื่อนขึ้นลงได้ */
}
/* เมื่ออยู่ใน fullscreen */
#myBox:fullscreen {
 background: red;
 width: 100%;
 height: 100%;
}
/* รองรับ browser อื่น */
#myBox:-webkit-full-screen {
 background: red;
 width: 100%;
 height: 100%;
}
#myBox:-moz-full-screen {
 background: red;
 width: 100%;
 height: 100%;
}
